<h3>Zeitgeist?</h3>
<p>the intellectual fashion or dominant school of thought that typifies and influences the culture of a particular period in time</p>

<% @posts.each do |post| %>
	<div class="participation" role="article">
		<h3><a href="<%= post.url %>"><%= post.title %></a> | <%= post.post_time %></h3>
		<%= post.content %>
	</div>
<% end %>

<!-- a link here to the "next page" using the number variable -->
<a href="<%= "/page/#{@number}" %>">Next 5</a>
